/* .primary-btn,
.secondary-btn {
    letter-spacing: .13rem;
    cursor: pointer
}

.card,
.tabs11 {
    box-sizing: border-box
}

#text,
.span-idp,
.tab-link:hover,
.text-decoration-none {
    text-decoration: none
}

.no-list-style,
.tabs11 {
    list-style: none
}

.primary-btn {
    background-color: #eb5424;
    margin: 1em 1em 1em 0;
    padding: 1rem 1.5rem !important;
    border-radius: 5px;
    color: #fff !important;
    border: none
}

.mo-submit-error-msg,
.mo-submit-success-msg {
    display: none;
    position: fixed;
    left: 20%;
    top: 18rem;
    transform: translate(-50%, -13%);
    margin-top: 1.6rem;
    padding: 1rem
}

.mo-submit-success-msg {
    background: #d7ffd7;
    color: #2f4f4f;
    border-radius: 5px
}

.mo-submit-error-msg {
    background: #ffdfdf;
    color: #470000;
    border-radius: 5px
}

.secondary-btn {
    text-wrap: balance;
    background-color: #fff;
    margin: 1em 1em 1em 0;
    padding: 1rem 1.5rem !important;
    border-radius: 5px;
    color: #000 !important;
    border: 1px solid #eb5424;
    font-weight: 600
}

.primary-btn:hover {
    background-color: #d94514
}

.secondary-btn:hover {
    background-color: #f1f1f1
}

.product-banner-image {
    border-radius: 2rem;
    max-height: 500px;
    max-width: 100%;
    margin: 6em 0 0
}

.product-banner-heading {
    font-size: 69px;
    padding: 1.5em 0 .5em 1.5em
}

.product-banner-text {
    color: #5b5b5b;
    line-height: 1.5;
    font-size: 16px
}

.product-banner-btns {
    padding: 0 0 0 8em
}

.other-product-box .fa-circle-thin {
    color: #f90;
    font-size: 60px
}

.other-product-box .fa-stack {
    margin-right: 10px;
    margin-bottom: 15px
}

.other-product-box .other-prod-icon .fa-stack-1x {
    font-size: 25px
}

.other-prod-section {
    background: #fff;
    margin: 3% 1%;
    box-shadow: 0 1px 5px 0 #b0b2a8;
    border-color: #fff;
    border-radius: 0 32px;
    transition: top .5s;
    padding: 2em;
    flex: 1;
    position: relative
}

.feature-2fa-box,
.image-shadow,
.method-2fa-box {
    box-shadow: 2px 0 11px silver
}

.other-prod-section:hover {
    box-shadow: #0003 0 0 1em;
    cursor: pointer
}

.other-prod-heading {
    font-size: 2.5rem;
    padding-bottom: 2%;
    line-height: 1.3;
    letter-spacing: .2px;
    margin-top: 10px;
    font-weight: 600;
    color: #424242 !important
}

.other-prod-text {
    padding: 1em 0 2.5em;
    font-size: 16px;
    margin-bottom: 1em;
    color: #424242
}

.other-prod-link {
    color: #eb5424;
    font-size: 16px;
    border-bottom: 1px solid;
    position: absolute;
    bottom: 2em
}

.other-prod-box {
    display: flex;
    padding: 2em
}

.other-prod-section a {
    text-decoration: none;
    color: #000
}

.other-prod-main-heading {
    font-size: 42px;
    color: #393939;
    padding-top: 1em 1em 0;
    font-weight: 600
}

.pd-tp-tr {
    padding-top: 3em
}

.pd-tp-tw {
    padding-top: 2em
}

.pd-lt-nn {
    padding-left: 9em
}

.margin-top-zero {
    margin-top: 0
}

.margin-top-4em {
    margin-top: 4em
}

.margin-left-2em {
    margin-left: 2em
}

.margin-left-3-5em {
    margin-left: 3.5em
}

.mg-bt-tty {
    margin-bottom: 30px
}

.bf-heading {
    font-size: 26px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: .2px;
    color: #626363;
    margin-top: 31px;
    margin-bottom: 16px
}

.manual-icon-with-title {
    background: #fff;
    padding: 20px 34px 16px 40px;
    margin: 15px;
    display: block;
    position: relative;
    text-align: left
}

.app-box,
.app_heading,
.card-body,
.fp,
.ib-ct-sec,
.icons,
.m-heading {
    text-align: center
}

h5 {
    font-weight: 500 !important;
    color: #5d5d5d !important;
    font-size: 18px !important;
    line-height: 20px;
    text-transform: none;
    letter-spacing: .5px;
    margin-top: 10px;
    margin-bottom: 10px
}

.desc {
    color: #777;
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 22px;
    letter-spacing: .3px
}

#icon1,
#icon10,
#icon2,
#icon3,
#icon4,
#icon5,
#icon6,
#icon7,
#icon8,
#icon9 {
    font-size: 24px;
    color: #eb5424
}

.app_section {
    padding-right: 17%;
    padding-left: 17%;
    padding-top: 2%
}

.app_heading {
    font-size: 32px;
    letter-spacing: 1px
}

.apps-icon {
    padding-top: 6%;
    width: 4em;
    display: contents
}

.app_text {
    font-size: 18px;
    color: #00000091;
    padding-top: 10px;
    line-height: 26px;
    letter-spacing: 1px
}

.col-md-6 .text_center {
    width: 24em
}

.center-pills {
    display: inline-block
}

.nav-pills {
    border: 1px solid #131313;
    height: 55px;
    border-radius: 50em;
    padding-top: 3px
}

.nav-pills>li.active,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    border-radius: 50em;
    padding-top: px
}

.nav-pills>li {
    width: 200px
}

.tab-font {
    vertical-align: text-bottom;
    font-size: 20px
}

.nav-pills>li li {
    margin-left: 0
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:active,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #f2f9fa;
    background-color: #151414;
    height: 47px;
    border-radius: 50em;
    padding-top: px
}

.nav-pills>li>a:hover {
    color: #fff;
    background: #d46a65;
    height: 46px
}

.nav-pills>li>a:focus {
    color: #fff;
    background: grey;
    height: 47px
}

.nav-pills>li.active {
    background-color: #0f0606
}

.nav-pills>li>a {
    border-radius: 0;
    height: 47px;
    border-color: #e85700;
    font-weight: 500;
    color: #101110;
    text-transform: uppercase
}

.methods_box1,
.methods_box2 {
    display: none
}

.pad_box {
    padding-left: 14%;
    padding-right: 14%
}

.test_pad {
    padding-right: 150px;
    padding-left: 150px
}

.custom_sub_head {
    padding-left: 80px
}

.ib-ct,
.ques-pad {
    padding-left: 5%;
    padding-right: 5%
}

#ques-row {
    padding-top: 1%
}

.fp {
    color: #060
}

.instant-integration-block {
    background: #dee9f078 !important;
    padding-top: 15px
}

.imgidb {
    padding-top: 0;
    width: 560px;
    margin-left: -7em
}

.font-size-24px {
    font-size: 24px
}

.feature-cl {
    background-color: none;
    padding-right: 4%;
    padding-left: 4%
}

#check {
    margin: 11px 2% 2%;
    font-size: 17px;
    color: #fff
}

.border {
    border: 1px solid grey
}

.timeline1 {
    position: sticky;
    z-index: 2;
    top: 0;
    padding-top: 109px;
    height: 200px;
    padding-right: 20%;
    padding-left: 20%
}

.line {
    position: relative;
    display: table
}

#text,
.tabs11 {
    display: block
}

#text {
    font-size: 20px;
    padding: 13px;
    color: #fff;
    transition: .3s ease-in-out
}

.sticky {
    position: sticky
}

.appInnerBox,
.img-wrap,
.tabs11 {
    position: relative
}

.ib-ct-sec {
    background: #f0edf970;
    padding: 2% 12%
}

.textsec {
    color: #000000d1;
    font-size: 17px;
    padding-top: 2em;
    text-align: justify
}

.steps {
    padding-right: 12%;
    padding-left: 12%;
    padding-top: 4em
}

.intro-sec {
    text-align: center;
    padding: 2% 12%
}

.mg-lt-nve {
    margin-left: -50px
}

.subheading-idb {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: .2px;
    color: #363d40
}

.heading-idb {
    margin-top: 40px;
    line-height: 1.5;
    font-size: 16px
}

.card-title {
    margin-bottom: 25px !important;
    padding-top: 15px
}

.card {
    width: 23%;
    border: 1px solid #d3d3d3;
    margin: 10px;
    height: 250px
}

.card:hover {
    box-shadow: 0 -1px 11px silver
}

.tabs11 {
    float: left;
    margin-bottom: -1px;
    z-index: 1;
    flex: 1;
    text-align: center
}

.idp-section,
.userstore-section {
    display: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center
}

.span-idp {
    vertical-align: middle
}

.tabs-default {
    border-bottom: 4px solid #2c8686
}

.tabs-style-underline {
    overflow: hidden;
    font-size: 1.25em
}

.active-section {
    display: block
}

.tab-p {
    margin-top: 60px;
    font-size: 16px;
    line-height: 1.5
}

.tab-idp,
.tab-us {
    z-index: 1;
    flex: 1;
    list-style: none;
    text-align: center;
    display: block
}

.tab-des {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px
}

.tab-link {
    display: block;
    padding: 10px 15px;
    color: #000;
    cursor: pointer;
    overflow: hidden
}

.tab-link:hover {
    color: #000 !important
}

.feature-column {
    float: left;
    width: 33.33%
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.img-wrap {
    float: left;
    width: 162px;
    height: 75px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 14px;
    cursor: pointer
}

.flex-text {
    padding: 3em
}

.bg {
    background-color: #2f373d;
    padding: 1rem 7rem 0 13rem
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important
}

.pre-integrated-apps-padding {
    padding: 38px !important
}

.padding-23px {
    padding: 23px
}

.tab-border-bottom {
    border-bottom: 1px solid #2c8686
}

.ds-sub-point {
    font-weight: 600;
    font-size: 1.2em
}

.directories-section {
    padding: 0 0 10px
}

.connect-external-directory {
    font-size: 1.3em;
    text-align: center;
    padding-top: 12px
}

.directory-services-bg {
    background: #f3f3f4
}

.img_gray {
    filter: grayscale(1)
}

.other_products_links {
    font-weight: 700;
    text-align: center;
    color: #747373;
    margin: 0 auto
}

.other_products_links div {
    padding: 40px 0
}

.product-img {
    border-radius: 2rem;
    max-height: 500px;
    padding: 1em
}

.content-2fa-section {
    padding: 3em 5% 0
}

.content-2fa-section-alt {
    background-color: #fafafa
}

.ques-method {
    padding: 2em 0 0;
    text-align: center
}

.method-2fa-box {
    margin: 2em 1em 0;
    padding: 2em 4em;
    border-radius: 5%;
    cursor: pointer
}

.method-2fa-box:hover {
    box-shadow: 5px 5px 10px #7f7d7d
}

.img-2fa-method {
    height: 60px;
    width: 60px
}

.methods_box h4,
.methods_box1 h4,
.methods_box2 h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 -3em;
    color: #000 !important;
    text-align: center;
    padding-top: 1em
}

.methods_box,
.methods_box1,
.methods_box2 {
    padding: 4em 2em 2em
}

.button-image {
    width: 6em !important
}

.pad_2fa {
    padding: 2em 150px 4em !important
}

.ques-2fa-box {
    background-color: #fff;
    height: auto
}

.twofa-table-style {
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%
}

.flex-display {
    display: flex
}

.margin-top-15px {
    margin-top: 15px
}

#icon-features {
    font-size: 34px;
    color: #2c8686
}

.oracle_apps {
    background: #dee9f078
}

.appsBox {
    padding: 1% 2%;
    text-align: center
}

.appInnerBox {
    background-color: #fff;
    box-shadow: 0 1px 5px 0 #b3b5a6;
    border-radius: 5px;
    padding: 2rem 2rem 5px;
    transition: top .5s;
    top: 0;
    width: 337px
}

#pop-div.box_border,
.faq-box,
.idp-box {
    box-shadow: 2px 0 11px silver
}

.appInnerBox:hover {
    top: -10px;
    box-shadow: 0 2px 6px 1px #a99e9e
}

.app_img {
    width: 50%
}

.appLink {
    text-decoration: none !important
}

.manual-icon-with-title1 {
    padding: 20px 34px 16px 40px;
    margin: 15px;
    display: block;
    position: relative;
    text-align: center
}

.app_text1 {
    font-size: 18px;
    color: #000000eb;
    padding-top: 10px;
    line-height: 26px;
    letter-spacing: 1px
}

.oracle_apps {
    padding: 2% 10%;
    background: #dee9f04d
}

.header-text {
    line-height: 1.5;
    padding-top: 15px
}

.benefit-box {
    padding: 5% 10%
}

.compare-box {
    background: #f4f4f4;
    padding: 1% 5%
}

.compare-sec {
    background: #fff;
    margin: 2% 9%;
    border-radius: 8px 50px;
    padding: 1em;
    text-align: center
}

.compare-heading {
    font-weight: 600;
    font-size: 27px;
    padding: 10px 0
}

#compare-btn {
    background: #1a3f4b;
    color: #fff;
    padding: 8px 30px;
    margin: 15px
}

.compare-icon {
    font-size: 3em;
    padding-top: 10px
}

.contact-info-text {
    text-align: center;
    font-size: 17px
}

.idp-box {
    margin: 2em 1em 0;
    padding: 1em 0;
    border-radius: 5%;
    cursor: pointer
}

#pop-div.box_border {
    display: inline-block !important;
    width: 100%;
    padding: 2em 20px;
    margin: 1em 5px;
    color: #000;
    height: 175px
}

.prod-expand-opening {
    background-color: #fff;
    position: fixed;
    z-index: 1;
    width: 80%;
    margin: 15em 9em;
    padding: 0 3em 4em
}

.prod-expand-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, .9);
    display: none;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0
}

.prod-close-opening {
    color: red;
    float: right;
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
    right: 1em;
    cursor: pointer
}

.guide-btn {
    margin: 25px 2px;
    background-color: #eb5424;
    color: #fff;
    width: max-content;
    opacity: .9
}

.guide-btn:hover {
    opacity: 1;
    color: #fff
}

.app-intg-box {
    height: 175px;
    cursor: pointer
}

.faq-box {
    border-top: 5px solid #f90;
    padding: 2em 0 0;
    text-align: center;
    background: #fff
}

.intg-img-box {
    height: 75px
}

.image_webauthn {
    width: 192px;
    margin-right: 3em
}

.webauthn-supported-platforms {
    width: 19em;
    border-radius: 10px;
    border: 3px solid #2c8686;
    padding: 3.5em 2.5em 1em 2em;
    height: 17em
}

.webauthn-platfrom-head {
    font-weight: 700;
    color: #2c8686
}

.bf-heading-webauthn {
    line-height: 1.1;
    text-align: center;
    letter-spacing: .2px;
    color: #000;
    margin-top: 31px;
    font-size: 40px !important;
    margin-bottom: 1em;
    font-weight: 600
}

.benifits-of-webauthn-mo {
    width: 19em;
    text-align: justify;
    line-height: 27px
}

.webauthn-framework-logo {
    margin-bottom: 17px
}

.page-content {
    margin-left: 5em;
    margin-right: -9em
}

.image-reverse-section {
    width: 60px;
    margin-top: 2em
}

.ldap-usecase-card {
    background-color: #f5f5f5;
    border-radius: 15px;
    margin: 25px 10px;
    box-shadow: #6b676733 .3em .3em .5em;
    height: 391px;
    padding: 18px
}

.agreement-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2em;
    padding: 3em;
    margin: 0 1em 3em;
    background-image: linear-gradient(to bottom right, #fcfafa, #f2f1f0)
}

.int-box,
.int-box-overlay {
    border-radius: 5px;
    display: flex
}

.iam-header-row {
    padding: 13rem 10rem 0;
    height: 33rem;
    background: url(https://www.miniorange.com/images/iam/iam-header-bg-img.webp) 0 0/cover
}

.resources-card-link {
    margin: 1em 1.5em;
    font-size: 16px;
    color: #eb5424 !important;
    border-bottom: 1px solid;
    float: right;
    font-weight: 600
}

.h1-heading,
.h2-heading,
.h3-heading {
    font-weight: 600;
    line-height: 1.2;
    word-break: break-word;
    color: var(--primary-black)
}

:root {
    --main-orange: #ff5e1f;
    --pure-white: #ffffff;
    --primary-white: #f8f0f0;
    --tertiary-beige: #f4e7d5;
    --primary-black: #3d3d3d;
    --desc-grey: #62626a;
    --desc-white: #d3d3d3
}

.h1-heading {
    font-size: 6rem
}

.h2-heading {
    font-size: 4.5rem
}

.h3-heading {
    font-size: 3.5rem
}

.primary-desc,
.secondary-desc {
    line-height: 2;
    letter-spacing: .3px;
    color: var(--desc-grey)
}

.primary-desc {
    font-size: 2rem
}

.secondary-desc {
    font-size: 1.6rem
}

.tertiary-beige {
    color: #f4e7d5
}

.bg-dark {
    background-color: #292c29
}

.bg-dark .h2-heading,
.bg-dark .h3-heading {
    color: var(--primary-white)
}

.bg-dark .secondary-desc {
    color: var(--desc-white)
}

.hospitality-usecase {
    background-image: url(https://www.miniorange.com/images/customers/oberoi-group-background.webp)
}

.int-box {
    padding: 1.25rem 1.56rem;
    background-color: #f7f7f7;
    color: #000;
    height: 80px;
    align-items: center;
    justify-content: center
}

.int-box img {
    height: auto;
    width: 9.25rem
}

.int-box-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: 10px;
    width: inherit;
    opacity: 0;
    transition: .5s;
    align-items: center;
    justify-content: center
}

.int-box:hover .int-box-overlay {
    opacity: 1
}

.integration-dark-section {
    display: flex;
    background-color: #292c29;
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    min-height: 500px
}

.integration-img-section {
    flex: 1 1 50%;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .99
}

.integration-content-section {
    display: flex;
    flex-direction: column;
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 5rem
}

.comparison-head .secondary-desc {
    color: var(--pure-white)
}

colgroup:first-child {
    width: 20%;
    border: 0;
    background-color: #3c3f3c;
    border-radius: 10rem
}

colgroup:nth-child(2),
colgroup:nth-child(3) {
    width: 40%;
    border: 0
}

.comparison-head th {
    padding: 2rem;
    background-color: #3c3f3c
}

.comparison-body th,
td {
    padding: 2rem;
    border: 1px solid #eb542460
}

.hero-section {
    padding: 10rem 10rem 6rem
}

.demo-card-img {
    width: -webkit-fill-available
}

@media screen and (max-width:992px) {

    .app-intg-box,
    .mid,
    .product-banner {
        height: auto
    }

    .pd-lt-nn {
        padding-left: 0
    }

    .margin-left-2em,
    .margin-left-3-5em {
        margin-left: 0
    }

    .product-banner-image {
        max-width: 80%;
        margin: 1em
    }

    .product-banner-heading {
        padding: 1.5em 0 .5em;
        font-size: 42px
    }

    .img_gray {
        width: 50%;
        filter: grayscale(1)
    }

    .header-btn {
        margin: 10px
    }

    .product-banner-text {
        padding: .5em 0
    }

    .product-banner-btns {
        padding: 0 0 0 2.2em
    }

    .other-prod-box {
        display: block !important
    }

    .prod-expand-opening {
        margin: 10em 2em;
        overflow-y: auto;
        height: 40em;
        padding: 0 1em
    }

    .prod-close-opening {
        position: absolute;
        z-index: 999 !important
    }

    .product-img {
        max-width: 100%
    }

    .pad_2fa {
        padding: 1em 0 2em !important
    }

    .feature-2fa-box,
    .padding-left-9em {
        padding-left: 1em
    }

    .img-2fa-method {
        margin-left: -1em
    }

    .directories-section {
        padding: 0 0 10px
    }

    .connect-external-directory {
        font-size: 13px !important;
        text-align: center;
        padding-top: 12px
    }

    .directory-services-bg {
        background: #f3f3f4
    }

    .box_feature,
    .test_pad {
        padding-left: 10px;
        padding-right: 10px
    }

    .bf-container,
    .other_products_links {
        width: auto
    }

    .ben,
    .feature-column {
        width: 100%
    }

    .custom_sub_head {
        padding-left: 10px
    }

    .manual-icon-with-title {
        padding: 20px
    }

    .tab-des {
        display: block
    }

    .heading,
    .product-heading {
        margin-left: auto;
        margin-right: auto
    }

    .sub-heading {
        padding: 1em
    }

    .tabs11 {
        float: none
    }

    .other_prod {
        padding: 1em !important
    }

    .timeline {
        display: none
    }

    .other_prod div {
        width: 100% !important
    }

    .webauthn-supported-platforms {
        margin-bottom: 1em;
        width: 19em;
        border-radius: 10px;
        border: 3px solid #2c8686;
        padding: 3.5em 2.5em 1em 2em;
        height: 17em
    }

    .page-content {
        margin-left: 0;
        margin-right: 0
    }

    .mobile-view-partner-logo {
        width: 175px
    }

    .integration-dark-section {
        flex-direction: column
    }

    .hero-section {
        padding: 10rem 0 1rem
    }
}

@media (max-width:768px) {
    .feature-cl {
        padding-right: 1%;
        padding-left: 1%
    }

    .h2-heading {
        font-size: 3.5rem
    }
} */